/__history
/__recovery
/Win32/Debug/Translater.exe
/Translater.identcache
/Translater.identcache
/Translater.dproj.local
/Win32/Debug/fmClipInfoForm.dcu
/Win32/Debug/InfoClip.cls
/Win32/Debug/MainForm.dcu
/Win32/Debug/NameClip.cls
/Win32/Debug/Languages_UTF.lng
/Win32/Debug/uLanguages.dcu
/Win32/Debug/uTasks.dcu
/Win32/Debug/Step1_Old С языками без цикла.cls
